<div class="header-container">
  <h1>Siobhan Brown</h1>
  <h2>Fullstack Developer</h2>
</div>

<div class="main-container">

  <div class="row">
    <div class="col-2" id="tabs">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="about-tab" data-toggle="pill" href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
        <a class="nav-link" id="work-tab" data-toggle="pill" href="#work" role="tab" aria-controls="work" aria-selected="false">Work</a>
        <a class="nav-link" id="cv-tab" data-toggle="pill" href="#cv" role="tab" aria-controls="cv" aria-selected="false">CV</a>
        <a class="nav-link" id="contact-tab" data-toggle="pill" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
          <h4>About me</h4>
          <div class="siobhan">
            <%= image_tag "siobhan.jpg", class: "siobhan-img" %>
            <div id="text-box1">
              <p>
                Graduate of Le Wagon's Full-stack Web Development bootcamp, looking to combine my creativity and logical problem solving abilities into a new challenge.
              </p>
              <p>
                Previously I spent many years working in the charity sector and in fine dining; managing and training a team of staff in the UK and abroad. It was here I developed a love for working directly with communities and became passionate about sustainability. These roles have utilised and developed my strong customer-facing skills, most recently focusing on eliminating food waste and food poverty.
              </p>
            </div>
          </div>
          <div class="tech-stack-card">
            <h4>Tech Stack</h4>
            <div class="icons">
              <i class="devicon-rails-plain-wordmark colored"></i>
              <i class="devicon-ruby-plain-wordmark colored"></i>
              <i class="devicon-bootstrap-plain-wordmark colored"></i>
              <i class="devicon-css3-plain-wordmark colored"></i>
              <i class="devicon-figma-plain colored"></i>
              <i class="devicon-git-plain-wordmark colored"></i>
              <i class="devicon-github-original-wordmark colored"></i>
              <i class="devicon-heroku-plain-wordmark colored"></i>
              <i class="devicon-html5-plain-wordmark colored"></i>
              <i class="devicon-javascript-plain colored"></i>
              <i class="devicon-postgresql-plain-wordmark colored"></i>
            </div>
              <p>
                And currently learning more in-depth Javascript, TDD and React...
              </p>
          </div>
        </div>
        <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">
          <h4>Recent Projects</h4>
          <div class="project-card">
            <%= link_to "Papaya", "https://www.papayapapaya.com", target: :_blank, class: "external-link" %> (click me)
            <div id="text-box2">
              <p>
                A responsive web app that allows people to search for volunteering and charity events in their local area.
              </p>
              <p>
                Events are searched for and displayed on a map, users can filter through the results and either favourite the event for later or register their attendance. They can also message with other users and create their own events.
              </p>
              <p>
                The website was built using Ruby on Rails, HTML, SCSS, Bootstrap, JavaScript (ES6), PostgreSQL and Heroku.
              </p>
            </div>
            <div class="papaya-screenshots">
              <%= image_tag "papaya_home_screenshot.png", id: "mobile-screenshot" %>
              <%= image_tag "papaya_index.png", id: "index-screenshot" %>
            </div>
          </div>
          <div class="project-card">
            <%= link_to "Eocene", "https://eocene698.herokuapp.com/", target: :_blank, class: "external-link" %>
             <div id="text-box3">
              <p>
                Marketplace web app designed to allow extreme sport equipment to be rented out. Search for equipment, sort by category, rent out your own.
              </p>
              <p>
                Built using Ruby on Rails in just one week.
              </p>
            </div>
            <div class="eocene-screenshots">
              <%= image_tag "eocene_home.png", class: "eocene-screenshot" %>
              <%= image_tag "eocene_index.png", class: "eocene-screenshot" %>
            </div>
          </div>
          <div class="project-card">
            <%= link_to "React App", "https://siobhan559.github.io/react-gifs/", target: :_blank, class: "external-link" %>
             <div id="text-box2">
              <p>
                My first simple app built with React. User's can search for gifs, and the chosen selection is then displayed in the centre. Bonus points for searching for Simpsons gifs.
              </p>
              <p>
                Built on React, calling the giphy API to update the page with the user's search term, and hosted on github pages.
              </p>
            </div>
            <div class="gif-screenshots">
              <%= image_tag "simpsons.png", class: "simpsons-screenshot" %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="cv" role="tabpanel" aria-labelledby="cv-tab">
          <%= image_tag "Portfolio_CV.jpg", class: "CV-img" %>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <h4>Contact Me</h4>
          <div id="text-box4">
            <p>
              Get in touch via email to siobhanbrown559@gmail.com
            </p>
            <p>
              Give me a shout on
              <%= link_to "https://www.linkedin.com/in/siobhan-brown559/", target: :_blank, style: 'text-decoration: none' do %>
                LinkedIn
                <i class="devicon-linkedin-plain colored"></i>
              <% end %>
            </p>
            <p>
              Or have a look at my
              <%= link_to "https://github.com/siobhan559", target: :_blank, style: 'text-decoration: none' do %>
                Github
                <i class="devicon-github-original colored"></i>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
